.demo-table {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

::ng-deep.mat-header-cell {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}
::ng-deep.mat-table thead {
  background-color: #212529 !important;
  color: #fff;
}
::ng-deep.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

::ng-deep.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
